/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css?family=Nabla");
/* @import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css"; */

body {
  /* margin: 0;
  padding: 0; */
  /* inset: 0; */
  background-color: #242424;
  text-decoration: none;
  list-style-type: none;
  /* background-color: #260a3b; */
}

.container {
  width: 100%;
  margin-top: 15vh;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
}

.grid {
  display: grid;
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-left: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
  padding: 2rem;
  border-radius: 5px;
  justify-content: center;
}
.card {
  /* background-color: aqua; */
  display: grid;
  place-items: center;
  /* border: 0.1rem solid hsl(0, 16%, 96%); */
  border-radius: 5px;
  box-shadow: 5px 9px 20px hsl(0, 3%, 7%);
  /* overflow: hidden; */
}

.movies-image {
  height: 50vh;
  width: 17vw;
  border-radius: 5px;
  transition: 0.2s ease-in-out;

  /* overflow: auto; */
}
.movies-image:hover {
  scale: 1.09;
  box-shadow: 5px 9px 20px hsl(0, 3%, 7%);
}

.title {
  font-size: large;
}

.home-bar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
  width: 97vw;
  height: 11vh;
  /* margin-left: 5rem; */
}

.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 5rem;
}

.nav-li {
  list-style: none;
  color: aliceblue;
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  text-transform: uppercase;
  /* margin-top: 5%; */
}
.nav-li:hover {
  /* transform: scale(1.1); */
  transition: 0.3s ease;
  color: #ee5729;
}

.page-btn {
  /* display: flex; */
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  /* display: inline-block; */
  /* border-radius: 4px; */
  background-color: transparent;
  border-style: solid;
  border-color: #e96021;
  color: #ffffff;
  text-align: center;
  /* font-size: 28px; */
  padding: 10px;
  /* width: 200px; */
  transition: all 0.3s;
  cursor: pointer;
  margin: 1rem;
  border-radius: 3rem;
  width: 5rem;
}

.page-btn:hover {
  background-color: #e23a0f;
  background-image: linear-gradient(
    to right,
    rgb(250, 52, 2),
    rgb(243, 124, 12)
  );
  transform: scale(1.1);
  /* transition: 0.5s ease; */
}

.home-bar h2 {
  margin-left: 4%;
  font-family: "Nabla";
  margin-top: 0.6rem;
  position: absolute;
  /* color: #f0d2cb; */
  font-size: 2.4rem;
  font-weight: bold;
  z-index: -1;
}

.logo {
  margin-left: -0.4rem;
  transition: 1.2s ease-in-out;
}
.logo:hover {
  transform: translateX(15.7rem) rotate(360deg);
}

.search-box {
  border: #e23a0f;
  background: transparent;
}

.form-control {
  background: transparent;
  text-decoration: none;
  border-style: solid;
  border-width: 0.16rem;
  border-color: #e96021;
  width: 14rem;
  border-radius: 3rem;
  /* margin-right: 220%; */
  transition: width 0.6s;

  /* position: fixed; */
}
.form-control:focus {
  /* transition: 0.3s ease; */
  width: 23rem;
  background: rgb(255, 255, 255);
  outline: none;
}

.genre-tags {
  margin-left: 40%;
  margin-top: -6%;
}

.tags {
  /* display: flex; */
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  /* display: inline-block; */
  border-radius: 3rem;
  background-color: transparent;
  border-style: solid;
  border-color: #f4511e;
  color: #ffffff;
  text-align: center;
  /* font-size: 28px; */
  padding: 10px;
  width: 6rem;
  /* transition: 0.5s ease-in-out; */
  cursor: pointer;
  margin: 1rem;
}

.selectedTag {
  background-image: linear-gradient(
    to right,
    rgb(250, 52, 2),
    rgb(243, 124, 12)
  );
  width: 6rem;
  border-radius: 3rem;
  background-color: transparent;
  border-style: solid;
  border-color: #f4511e;
  color: #ffffff;
  padding: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 2px 3px 6px hsl(0, 3%, 7%);
}

.row {
  display: flex;
  margin: 3%;
  padding: 1rem;
}
.column {
  flex: 50%;
}

.detail-btns {
  position: absolute;
  margin-top: 30%;
  margin-left: 60%;
  z-index: 10;
}
.detail-page-btn {
  display: flex;

  justify-content: space-between;
  align-items: center;
  display: inline-block;
  border-radius: 20rem;
  background-color: transparent;
  border-style: solid;
  border-color: #e96021;
  color: #f4511e;
  text-align: center;
  width: 8rem;
  padding: 10px;

  transition: all 0.3s;
  cursor: pointer;
  margin: 1rem;
}
.detail-page-btn:hover {
  /* background-color: #eb4015; */
  background-image: linear-gradient(
    to right,
    rgb(250, 52, 2),
    hsl(34, 100%, 52%)
  );
  color: #ffffff;
}

.column h6 {
  font-size: clamp(1rem, 1vw, 1rem);
}

.search-btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
